body{
  font-family: 'Work Sans', sans-serif;;
  margin: 0;
  margin-left: 70px;
  margin-right: 70px;
  box-sizing: border-box;
}
.conteiner{
  margin-top: 50px;
}
.conteiner:first-child {
  width: 100%;
  display: inline-block;
}
.head-logo {
  width: 120px;
  float: left;
}
.meniu {
  margin-left: 10%;
  margin-top: 8px;
  display: inline-block;
}
.button {
  margin-right: 4em;
  font-size: 20px;
  line-height: 1em;
  color: #b7b7b7;
  text-decoration: none;
}

.button:last-of-type, .icon:last-of-type {
  margin-right: 0;
}
.button:hover {
  color: black;
}
.social-link {
  margin-top: 6px;
  float: right;
}
.icon {
  margin-right: 2em;
  font-size: 24px;
  line-height: 1em;
  color: #b7b7b7;
  text-decoration: none;
}
.icon:hover {
  color: black;
}

main {
  margin-top: 40px;
  height: 451px;
  position: relative;
}

.up, .down {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #f2f2f2;
  position: absolute;
  position: relative;
  
}
.up {
  margin-bottom: 14px;
  top: 40%;
}
.down {
  top: 40%;
}
.fa-chevron-up, .fa-chevron-down {
  position: absolute;
  top: 16px;
  left: 17px;
}
.up:hover, .down:hover {
  background-color: black;
  color: #f2f2f2;
}


.content {
  width: 30%;
  display: inline-block;
  position: absolute;
  top: 158px;
  left: 230px;
}
.head {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 60px;
  line-height: 1em;
}
.web-link {
  font-size: 20px;
  line-height: 1em;
  text-decoration: none;
  color: #b7b7b7;
}
.web-link::after{
  content: ',';
}
.web-link:last-of-type::after {
  content: '';
}
.web-link:hover {
  color: black;
  text-decoration-line: underline;
}

.main-img {
  width: 555px;
  margin-right: 40px;
  float: right;
  position: absolute;
  right: 5%;
  top: 0;

}